.container {
    width: 1280px;
    margin: 0 auto;
}

header {
    margin: 61px auto 45px;
}

header a {
    font-family: Myriad Pro sans-serif;
    color: #000000;
    font-size: 80px;
    font-weight: 400;
    text-align: left;
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
}

header a span {
    color: #4bcaff;
}

.topmenu {
    background-color: #35444f;
    height: 69px;
    text-align: center;
    position: relative;

}

.topmenu ul {
    position: absolute;
    margin-left: 115px;
    bottom: 4px;
}

.topmenu li {
    display: inline;
}

.topmenu a {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    height: 60px;
    padding: 20px 42px 20px 42px;

}

.topmenu a:hover {
    background: #222f3a;
    text-decoration: none;
    padding: 20px 41px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;

}

.leftmenu {
    margin-top: 51px;
    width: 324px;
    height: 399px;
    border: 1px solid;
    float: left;
}

.leftmenu ul {
    padding: 0;
    margin: 0;
}

.leftmenu li {
    list-style-type: none;
}

.leftmenu a {

    display: inline-block;
    font-family: Myriad Pro sans-serif;
    color: #485863;
    font-size: 27px;
    font-weight: 400;
    padding: 24px 0 25px 44px;
    box-sizing: border-box;
    width: 325px;

}

.leftmenu a:hover {
    background: #dcdcdc;
    padding-left: 69px;
    color: #000000;
    text-decoration: none;
}

.topimag {
    border: 1px solid;
    margin: 51px 0 0 396px;
    height: 529px;
    text-align: center;
    margin-bottom: 50px;

}

.topimag img {
    padding: 30px 270px 20px 270px;
    box-sizing: border-box;
    margin-top: 30px;
    position: relative;
    top:20px;
}
.topimag img:hover{
    transform: scale(1.3,1.3);


}
.toptext {

    width: 815px;
    margin: 0 30px 50px auto;
}

.toptext p {
    margin-bottom: 30px;
}

footer {
    background: #b5b8bb;
    width: 1280px;
    height: 69px;
    margin-bottom: 30px;
}

footer ul {
    float: left;
    margin: 22px auto 21px 44px;
}

footer li {
    margin-right: 10px;
    display: inline;
    width: 853px;
}

footer a {
    font-family: Myriad Pro sans-serif;
    color: #0c1927;
    font-size: 28px;
    font-weight: 400;
    text-decoration: none;
}

footer a:hover {
    color: #3181a6;
}

footer p {
    display: inline-block;
    margin-left: 218px;
    font-size: 24px;
    font-weight: 400;
    text-align: right;
}

